[Unit]
Description=SoundOnPush
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/raspi/sound_on_push/script/sound_on_push.sh
# replace with your username
User=raspi

[Install]
WantedBy=timers.target
